footer.Footer
  .Footer-container
    button(id="ButtonTop" class="btn-ToTop")
      i.fas.fa-chevron-up
    .Box-icon
      i.fab.fa-facebook
        a(href="https://www.facebook.com/Hub-de-Innovaci%C3%B3n-Minera-del-Per%C3%BA-103619631034751/")
      i.fab.fa-twitter
        a(href="https://twitter.com/Hubperu")
      i.fab.fa-instagram
        a(href="https://www.instagram.com/hub_innovacion_minera_peru/?hl=es-la")
    .Box-credito
      p.Small-text
        | Programa diseñado y operado por #[a(href="https://quintilvalley.cl/" class="Text-link") Quintil Valley]
    .Card-copy
      p.Small-text Copyright &#169; #[span(id="Year")] Hub Innovación minero del Perú
      p.Small-text Todos los derechos reservados.
  .Box-creditos
    p.Small-text
      | Desarrollado por: #[a(href="https://esferadigital.cl/" class="Text-link") esferadigital.cl]
