footer.Footer
  .Footer-container
    button(id="ButtonTop" class="btn-ToTop")
      i.fas.fa-chevron-up
    .Footer-columns
      .Footer-columns-item
        i.fas.fa-map-marker-alt
        p Dirección exacta
      .Footer-columns-item
        .Box-icon
          i.fas.fa-phone
            a(href="#")
          i.far.fa-envelope
            a(href="#")
          i.fab.fa-facebook
            a(href="https://www.facebook.com/")
          i.fab.fa-twitter
            a(href="https://twitter.com/")
          i.fab.fa-instagram
            a(href="https://www.instagram.com/")
    .Card-copy
      p.Small-text Copyright &#169; #[span(id="Year")] Hub Innovación minero del Perú
      p.Small-text Todos los derechos reservados.
  .Box-creditos
    p.Small-text
      | Desarrollado por: #[a(href="https://esferadigital.cl/" class="Text-link") esferadigital.cl]
