@import "box-mixin";

.Box-text{
  @include Box;
  padding: 1rem;
  margin: auto;
  justify-items: start;
  width: var(--main-maximo);
  max-width: $ancho-maximo;
  & h2, h3{
    text-transform: uppercase;
  }
}
