// Pasar a mixin

@mixin text($size){
  font-size: $size;
  // color: $color;
  // background-color: $bg-color;
}

.Small-text{
  @include text(var(--font-size-small-text));
}

.Text-link{
  @include text(var(--font-size-small-text));
  transition: color .3s ease;
  color: color(negro);
  &:hover{
    color: darken(color(rojo), 5);
  }
}
