
@mixin icon($color, $bg-color){
  font-size: var(--size-icon);
  color: $color;
  background-color: $bg-color;
  &:hover{
    color: darken($color, 9);
  }
}

.Icon-link{
  @include icon(color(rojo), transparent);
  padding: var(--padding-icon);
  transition: color .3s ease;
}
