extends ../template/modelo

block header
  include ../secciones/header
block main
  include ../mains/main-inicio
block footer
  include ../secciones/footer
block script
  script(src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous")
  script(src="js/inicio.js")
