main.Main
  include ../secciones/slider-banner
  section#propuesta.Propuesta
    .Propuesta-item
      .Propuesta-card-header
        .Propuesta-card-header-img
          img(src="img/logo.png" alt="logo")
        .Propuesta-card-header-text
          h2 Buscamos Soluciones
          h3 Innovadoras
      .Propuesta-card-body
        p Nos haremos cargo de retos comunes.
        p Trabajaremos en proyectos de innovación en colaboración con terceros.
        p Administraremos un portafolio de innovaciones de interés de las empresas, generando ahorros, distribuyendo riesgos y ampliando las opciones de retorno.
        p Compartiremos las prácticas de innovación entre las empresas socias.
        p Facilitaremos los procesos de cambio culturales, la difusión de las acciones innovadoras del sector y la capacitación.
    .Propuesta-item
      .Propuesta-item-img
        img(src="img/propuesta.jpg" alt="Propuesta")
  section#beneficios.Beneficios
    .Beneficios-item
      .Beneficios-card-header
        .Beneficios-card-header-img
          img(src="img/logo.png" alt="logo")
        .Beneficios-card-header-text
          h2 Beneficios de
          h3 Participar
    .Beneficios-item
      .Cards-beneficios
        .Card
          .Card-img
            img(src="img/oportunidades.png")
          .Card-header.Empresas
            h3 Oportunidades
          .Card-body
            p Con esta convocatoria podrás descubrir problemas reales que grandes empresas del sector minero necesitan resolver en alianza con solucionadores innovadores como tú y tu organización
            p Oportunidades que podrás concretar en la medida que exista una destacada propuesta de valor acorde con el desafío presentado.
        .Card
          .Card-img
            img(src="img/conectate.png")
          .Card-header.Proveedores
            h3 Conéctate
          .Card-body
            p Revisa los desafíos, postula tu solución a las problemáticas de esta edición del Primer Llamado de Innovación Abierta Colaborativa del Hub y conéctate con estos potenciales clientes del rubro minero.
            p En caso de avanzar a las etapas siguientes, podrás fortalecer tus propuestas con el apoyo de las mismas empresas.
        .Card
          .Card-img
            img(src="img/cierra.png")
          .Card-header.Startup
            h3 Cierra
          .Card-body
            p Las mejores propuestas podrán cerrar acuerdos de trabajo con las empresas socias del HUB.
            p Podrás ejecutar proyectos pilotos o directamente avanzar a etapas comerciales, según sea el estado de madurez y/o validación de tu solución.
  section#desafios.Socios
    .Socios-item
      .Socios-card-header
        .Socios-card-header-img
          img(src="img/logo.png" alt="logo")
        .Socios-card-header-text
          h2 Desafíos
    .Socios-item-cards
      .Socios-item-cards-card
        .cards-card-img
          img(src="img/icono-comunidad.png" alt="Comunidad")
      .Socios-item-cards-card
        .cards-card-img
          img(src="img/icono-energia.png" alt="Energía")
      .Socios-item-cards-card
        .cards-card-img
          img(src="img/icono-medio-ambiente.png" alt="Medio Ambiente")
      .Socios-item-cards-card
        .cards-card-img
          img(src="img/icono-productividad.png" alt="Productividad")
      .Socios-item-cards-card
        .cards-card-img
          img(src="img/icono-seguridad.png" alt="Seguridad")
  section#contactanos.Contactanos
    .Contactanos-item
      .Contactanos-card-header
        .Contactanos-card-header-img
          img(src="img/logo.png" alt="logo")
        .Contactanos-card-header-text
          h2 Preguntas
          h3 Frecuentes
    .Contactanos-item-iframe
      h2 Iframe para un pdf
