//- Variables
-let titulo = "HUB MINERO DEL PERÚ";
-let url = "http://localhost:3000";
//- -let url = "https://hubinnovacionminera.pe";
-let descripcion = "Innovación abierta mineras del Perú";
-let fuentes = "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
-let hamburguesa = "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css";
//- -let sweetalert = "https://cdn.jsdelivr.net/npm/sweetalert2@8";

-
  let slider = {
    text1: "La innovación es un factor clave para el desarrollo de la minería del Perú",
    text2: "Nos hemos asociado para construir HOY el futuro del sector",
    text3: "Tenemos retos comunes, debemos acostumbrarnos a trabajar colaborativamente",
    text4: "Trabajamos para instalar la innovación en nuestras empresas y nuestro sector",
    text5: "TRABAJO COLABORATIVO es nuestro gran desafío y será la escencia de nuestro quehacer"
  }

-
  let link = {
    convocatoria: url + "/convocatoria.html",
    inicio: url,
    propuesta: "#propuesta",
    beneficios: "#beneficios",
    plan: "#plan",
    socios: "#socios",
    contactanos: "#contactanos"
  }


//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
