// Mixins

@mixin container-grid($columns, $rows, $gap){
  display: grid;
  grid-gap: $gap;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

.Container-grid-4{
  @include container-grid(var(--columns-container-grid4), auto, var(--gap-container-grid));
}

.Container-grid-3{
  @include container-grid(var(--columns-container-grid3), auto, var(--gap-container-grid));
}
.Container-grid-2{
  @include container-grid(var(--columns-container-grid2), auto, var(--gap-container-grid));
  border: 2px solid red;
}

.Container-flex-2{
  display: flex;
  & .Box-img{
    width: 40%;
  }
}

// .Container-grid-fix-2{
//   @include container-grid(var(--columns-container-fix-2), auto, var(--gap-container-grid));
//   border: 2px solid blue;
//   background-color: orange;
//   max-width: 650px;
//   justify-items: start;
//   align-items: center;
//   // & .Box-img{
//   //   width: 60%;
//   // }
//   & .Box-text{
//     border: 1px solid red;
//   }
// }

