.Footer-container{
  width: var(--main-maximo);
  margin: auto;
  max-width: $ancho-maximo;
  letter-spacing: 0;
}

.Footer-columns{
  border-bottom: 1px solid color(secondary);
  padding: 1rem 0;
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  & > .Box-text > .Card-text{
    // border: 1px solid red;
    // justify-self: start;
    @include mq(md){
      justify-self: start;
    }
    & p{
      margin: 2rem auto;
      font-size: .8rem;
      @include mq(smm){
        font-size: .9rem;
      }
      @include mq(lgs){
        font-size: 1.2rem;
      }
      & span{
        font-size: 1.2rem;
        width: 1.5rem;
        margin-right: 5px;
        color: color(secondary);
        @include mq(smm){
          font-size: 1.5rem;
          margin-right: .5rem;
        }
        @include mq(lgs){
          font-size: 2rem;
          width: 2.5rem;
        }
        @include mq(lgm){
          margin-right: 1rem;
        }
      }
    }
  }
}
