// Variables para maquetación

$ancho-maximo: 1400px; //de todo el sitio
$espacio-entre-letras: 1px;
$altura-header: 10rem; //revisar

:root{
  // ancho maximo de lo visible para desktop
  --main-maximo: 95%;
}

:root{
  //columnas y filas
  --columns-header-container: 1fr;
  --columns-main-container: 1fr;
  --columns-container-central: 1fr;
  --columns-aside: 1fr;
  --columns-footer-container: 1fr;
  --columns-container-grid2: 1fr;
  --columns-container-grid3: 1fr;
  --columns-container-grid4: 1fr;
  --columns-box-icon: 1fr;
  --columns-container-fix-2: repeat(2, 1fr);
  //card-copy
  --columns-card-copy: 1fr;
  --rows-card-copy: 1fr 1fr;
  @include mq(md){
    --columns-card-copy: 1fr 1fr;
    --rows-card-copy: none;
    --columns-container-grid2: 1fr 1fr;
  }
}

:root{
  // gap de los container
  --gap-aside: .5rem;
  --gap-container-grid: .5rem;
  --gap-card-copy: .25rem;
}

:root{
  // tamaño de fuentes
  --font-size-titulo: 2rem;
  --font-size-titulo-2: 1.3rem;
  --font-size-titulo-3: 1.1rem;
  --font-size-sub-titulo: 1.4rem;
  --font-size-parrafos: .9rem;
  --font-size-small-text: .9rem;
  --font-size-slogan: 1rem;
  --font-size-link-text: 1rem;
  --size-icon: 1.5rem;
  @include mq(sm){
    --font-size-titulo: 2.1rem;
    --font-size-titulo-3: 1.2rem;
    --font-size-sub-titulo: 1.7rem;
    --font-size-slogan: 1.1rem;
    --font-size-parrafos: 1rem;
    --size-icon: 2rem;
  }
  @include mq(md){
    --size-icon: 2.3rem;
    --font-size-titulo-2: 1.5rem;
    --font-size-titulo-3: 1.3rem;
  }
  @include mq(mdl){
    --font-size-titulo: 2.7rem;
    --font-size-titulo-2: 1.7rem;
    --font-size-titulo-3: 1.4rem;
    --font-size-sub-titulo: 1.9rem;
    --font-size-slogan: 1.2rem;
    --font-size-parrafos: 1.2rem;
    --font-size-titulo-3: 1.3rem;
    --size-icon: 2.5rem;
  }
  @include mq(lgs){
    --font-size-titulo-3: 1.5rem;
  }
}

:root{
  //padding
  --padding-box-creditos: .25rem 0;
  @include mq(md){
    --padding-box-creditos: .5rem 0;
  }
}
