.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: capa(capa10);
  width: 100%;
  max-width: $ancho-maximo;
  height: $altura-header;
  line-height: $altura-header;
  // padding-top: .5rem;
  // padding-bottom: .5rem;
  // background-color: pink;
}
