@mixin seccion-blanca($color-font){
  display: grid;
  grid-template-columns: var(--columns-seccion-blanca);
  gap: 1rem;
  padding: 2rem 0;
  // &-item:nth-child(2){
  //   padding: 1rem;
  //   padding-right: 0;
  // }
  &-item-img{
    width: 100%;
    height: auto;
    margin: auto;
    // border: 1px solid blue;
    overflow: hidden;
    @include mq(lgm){
      padding: 1rem;
    }
    & img{
      width: 100%;
      height: auto;
    }
  }
  &-card-header{
    display: grid;
    // border: 2px solid green;
    grid-template-columns: 20% 1fr;
    &-img{
      padding: var(--padding-logo-secciones);
      & img{
        width: 100%;
      }
    }
    &-text{
      position: relative;
      align-self: center;
      padding-left: 1rem;
      color: $color-font;
      text-transform: uppercase;
      &:before{
        position: absolute;
        content:"";
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $color-font;
      }
      & h2{
        font-weight: 800;
        font-size: var(--font-title-secciones);
      }
      & h3{
        font-weight: 500;
        font-size: var(--font-title-secciones);
      }
    }
  }
  &-card-body{
    padding: 1.5rem 0;
    padding-bottom: .5rem;
    & p{
      padding: .5rem 0;
      line-height: 1.5rem;
      font-size: var(--font-parrafos);
    }
  }
}

.Main{
  // border: 4px solid green;
  position: relative;
  top: var(--altura-header);
  & > section{
    max-width: var(--main-maximo);
    margin: auto;
  }
  & section:first-child{
    max-width: 100%;
  }
}

#beneficios, #socios{
  background-image: img("tierra.jpg");
  max-width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.Propuesta, .Plan{
  @include seccion-blanca(color(primary));
}

.Beneficios{
  @include seccion-blanca(white);
  grid-template-columns: 1fr;
  // border: 1px solid red;
  width: 100%;
  &-item:nth-child(2){
    // border: 3px solid blue;
    padding: 0;
    width: 100%;
  }
  &-card-header{
    grid-template-columns: 20% 1fr;
    @include mq(lgm){
      grid-template-columns: 10% 1fr;
    }
  }
}

.Cards{
  // border: 2px solid green;
  display: grid;
  grid-template-columns: var(--columns-cards-beneficios);
  gap: 2rem;
  width: 100%;
}

.Card{
  // border: 3px solid purple;
  overflow: hidden;
  &-img{
    // border: 3px solid yellow;
    width: 50%;
    margin: auto;
    & img{
      display: block;
      width: 100%;
    }
  }
  &-header{
    background-color: color(secondary);
    margin-top: 1.5rem;
    & h3{
      text-align: center;
      text-transform: uppercase;
      padding: .5rem .25rem;
      color: white;
    }
  }
  &-body{
    padding: 1rem;
    background-color: white;
    height: 100%;
  }
}

.Proveedores{
  background-color: color(alert);
}

.Startup{
  background-color: color(tertiary);
}

.Conocimiento{
  background-color: color(primary);
}

.Socios{
  @include seccion-blanca(white);
  grid-template-columns: 1fr;
  padding-bottom: 0;
  &-card-header{
    grid-template-columns: 20% 1fr;
    @include mq(lgm){
      grid-template-columns: 10% 1fr;
    }
  }
}

.Socios-item-slider{ //c-slider
  // border: 2px solid blue;
  width: 100%;
  height: 80%;
  // padding: 5%;
  overflow: hidden;
  @include mq(md){
    height: 90%;
  }
}

//Comienzo slider

.for_slick_slider{
  display: flex;
  height: auto;
  & .items{
    // border: 2px solid red;
    width: 100%;
    height: auto;
    margin: 20px;
    @include mq(lgm){
      margin: 40px;
    }
    & a{
      width: auto;
      height: 100%;
      & img{
        width: 100%;
      }
    }
  }
  & button{
    display: none !important;
  }
}

// fin slider

.Contactanos{
  @include seccion-blanca(rgb(0, 107, 71));
  grid-template-columns: 1fr;
  // border: 1px solid blue;
  width: 100%;
  &-card-header{
    grid-template-columns: 20% 1fr;
    @include mq(lgm){
      grid-template-columns: 10% 1fr;
    }
  }
  & .Contact-form{
    width: 100%;
    max-width: 900px;
    margin: auto;
    // border: 2px solid red;
    background-color: color(secondary);
    border-radius: 15px;
    padding: 2rem;
    &-item{
      // border: 2px solid green;
      width: 100%;
      max-width: 700px;
      margin: auto;
      display: grid;
      grid-template-columns: 10% 1fr;
      margin-bottom: 1rem;
      & i{
        align-self: center;
        justify-self: end;
        font-size: 1.5rem;
        padding-right: .5rem;
        color: white;
      }
      & i.fa-clipboard{
        align-self: start;
      }
      & i.fa-phone{
        transform: rotate(100deg);
      }
      & input, textarea, select{
        border: none;
        outline: none;
        background-color: white;
        // border-radius: 15px;
        line-height: 2rem;
      }
      & textarea{
        max-height: 200px;
      }
    }
    &-item:last-child{
      grid-template-columns: 1fr;
      width: 5rem;
      margin: auto;
      position: relative;
      right: -5%;
    }
  }
}

#enviar{
  background-color: color(primary);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .3s;
  &:hover{
    background-color: darken(color(primary),5);
  }
  &:active{
    transform: scale(.95);
  }
}
